{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <h3 class="text-center">Boletim - Ano: {{ year }}, Semestre: {{ semester }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Nota</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades_data %}
                <tr>
                    <td>{{ grade.disciplina }}</td>
                    <td>{{ grade.nota }}</td>
                    <td>{{ grade.situacao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
