<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bem-vindo, {{ profile_data['nome'] }}</h1>
    <img src="{{ profile_data['url_foto'] }}" alt="Foto do perfil" style="width: 150px;">
    <p>Matrícula: {{ profile_data['matricula'] }}</p>
    <p>Email: {{ profile_data['email'] }}</p>
    <a href="{{ url_for('grades') }}">Ver Boletim</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
